In [3]:
import pandas as pd
pd.read_csv('codeSearch.csv',usecols=['code','name'])

     code  name
0    1101    台泥
1    1102    亞泥
2    1103    嘉泥
3    1104    環泥
4    1108    幸福
..    ...   ...
970  9944    新麗
971  9945   潤泰新
972  9946  三發地產
973  9955    佳龍
974  9958   世紀鋼

[975 rows x 2 columns]