In [ ]:
import pandas as pd
codeFrame = pd.read_csv('codeSearch.csv',usecols=['code','name'])
codeFrame

In [ ]:
codeFrame['code'].astype(str) + codeFrame['name']

In [6]:


import yfinance as yf
yf.download('2330.TW',start='2022-01-01')

[*********************100%***********************]  1 of 1 completed

             Open   High    Low  Close   Adj Close    Volume
Date
2022-01-03  619.0  632.0  618.0  631.0  614.044250  69089158
2022-01-04  645.0  656.0  644.0  656.0  638.372498  79434666
2022-01-05  669.0  669.0  646.0  650.0  632.533630  69593809
2022-01-06  638.0  646.0  636.0  644.0  626.694946  53210211
2022-01-07  643.0  646.0  632.0  634.0  616.963623  38249908
...           ...    ...    ...    ...         ...       ...
2023-06-05  560.0  560.0  555.0  555.0  555.000000  16827391
2023-06-06  554.0  562.0  553.0  560.0  560.000000  20228086
2023-06-07  561.0  568.0  560.0  568.0  568.000000  27604813
2023-06-08  562.0  568.0  555.0  559.0  559.000000  23080195
2023-06-09  561.0  566.0  561.0  565.0  565.000000  19091713

[346 rows x 6 columns]